.forecastBox {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow effect */
    transition: opacity 0.3s ease;
    margin-top: 1vh;
}

.icon {
    position: absolute;
    left: 60vw;
    bottom: 45vh;
    overflow: hidden;
}